<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="holiday.service.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div ng-app="App" ng-controller="CalendarController as c">

        <label>Start Date:</label>
        <input type="date" ng-model="c.startDate" ng-change="c.onChange()" />
        <label>Days: </label>
        <input type="text" ng-model="c.days" ng-change="c.onChange()" />
        <label>Country Code:</label>
        <input type="text" ng-model="c.countryCode" ng-change="c.onChange()" />
        <input type="button" ng-click="c.onChange()" value="Update" />

        <div class="calendar" ng-repeat="m in c.dates">
            <table>
                <thead>
                    <tr>
                        <th colspan='7'>{{m.monthName}} - {{c.year}}</th>
                    </tr>
                    <tr>
                        <th>Sun</th>
                        <th>M</th>
                        <th>K</th>
                        <th>W</th>
                        <th>T</th>
                        <th>F</th>
                        <th>Sat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="w in m.weeks">
                        <td ng-repeat="d in w track by $index" ng-class="{'no-day': (d.number == ''),'weekend' : (d.weekend == true),'weekday' : (d.weekend == false), 'holiday' : (d.holiday == true) }">
                            <div class="tooltip">
                                <span>{{d.number}}</span>
                                <div class="tooltiptext">{{d.description}}</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</body>

</html>